<!DOCTYPE html>
<html>
<head>
    <title>Список Заметок</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/boots
    trap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9I
    fjh" crossorigin="anonymous">
</head>
<body>
    <h1>Список заметок пользователя:</h1>
    <p><a href = "http://127.0.0.1:5000/index/zametka1">Show your first template</a></p>>
    <p><a href = "http://127.0.0.1:5000/index/zametka2">Show your second template</a></p>>
    <p><a href = "http://127.0.0.1:5000/index/zametka3">Show your third template</a></p>>
</body>
</html>